[submodule "afdns"]
	path = afdns
	url = https://github.com/Kolyunya/afdns.git
[submodule "afprx"]
	path = afprx
	url = https://github.com/Kolyunya/afprx.git
[submodule "ezvpn"]
	path = ezvpn
	url = https://github.com/Kolyunya/ezvpn.git
